.skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    align-items: center;
    margin-right: 75px;
    margin-left: 75px;
    /* padding-left: 35px; */
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    opacity: 0.8;
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.work:hover img{
    transform: scale(1.2);
}

.work:hover .layer{
    height: 100%;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(68, 64, 64, 0.6), #bd0741);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 18px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #bd0741;
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}


.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #bd0741;
    padding: 14px 50px;
    border-radius: 7px;
    text-decoration: none;
    color: #fff;
    background-color: black;
    transition: background-color 0.5s;
}

.btn:hover{
    background-color: #bd0741;
}

@media screen and (max-width: 720px){
    .work-list{
        display: flex;
        flex-direction: column;
    }
}