
#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

/* .skillTitle{
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
} */

.skillDesc{
    font-weight: 350;
    font-size: 1.25rem;
    max-width: 50rem;
    padding: 0 2rem;
    text-align: justify;
}

/* .aboutme{
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem auto;
} */
.aboutme{
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-gap: 4rem;
    margin: 2rem 2rem;
    align-items: center;
    text-align: center;
}

.icon{
    margin: 5px auto;
    
}
.about_box{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 40px 30px;
    background: rgb(50, 50, 50);
}

.about_title{
    font-weight: 550;
}

.about_subtitle{
    font-weight: 200;

}
.button{
    display: block;
    margin: 30px auto;
    width: fit-content;
    border: 1px solid #bd0741;
    padding: 15px 40px;
    border-radius: 7px;
    text-decoration: none;
    color: #fff;
    background-color: black;
    transition: background-color 0.5s;
    font-size: 20px;
    font-weight: 600;
}

.button:hover{
    background-color: #bd0741;
}

.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillBar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.skillBarText>p{
    font-size: 1rem;
    font-weight: 200;
}

@media screen and (max-width: 623px) {
    .aboutme{
        display: flex;
        flex-direction: column;
    }
}